@using Microsoft.AspNetCore.Identity
@using App.Models
@using appmvclibrary.Models.User

@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <form asp-area="Identity" asp-controller="Account" asp-action="LogOff" method="post" id="logoutForm" class="navbar-right">
        <div class="d-flex">
            <div>
                <a class="nav-link" asp-area="Identity"  asp-controller="Manage" asp-action="Index" title="Manage">Xin chào @UserManager.GetUserName(User)!</a>
            </div>
            <div>
                <button type="submit" class="btn btn-link navbar-btn navbar-link">Đăng xuất</button>
            </div>
        </div>
    </form>
}
else
{
    <div class="d-flex">
        <div>
            <a class="nav-link" asp-area="Identity" asp-controller="Account" asp-action="Register">Đăng ký</a>
        </div>
        <div>
            <a class="nav-link" asp-area="Identity" asp-controller="Account" asp-action="Login">Đăng nhập</a>
        </div>
    </div>
}