@model appmvclibrary.Areas.QuanLyTacGia.Models.ThemMoiTacGiaModel

@{
    ViewData["Title"] = "Thêm mới tác giả";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";

    var danhSachs = ViewBag.Sachs ;
}

<h1>@ViewData["Title"]</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Sách đã sáng tác</label>
                <select asp-for="SachIds" asp-items="ViewBag.DanhSachSachs" multiple="multiple" class="w-100"></select>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NgaySinh" class="control-label"></label>
                <input asp-for="NgaySinh" class="form-control" />
                <span asp-validation-for="NgaySinh" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TieuSu" class="control-label"></label>
                <input asp-for="TieuSu" class="form-control" />
                <span asp-validation-for="TieuSu" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Thêm mới" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Danh sách tác giả</a>
</div>

@section Script {

    <script src="~/lib/multiple-select/multiple-select.min.js"></script>
    <link rel="stylesheet" href="~/lib/multiple-select/multiple-select.min.css" />

    <script>
        $("#SachIds").multipleSelect({
            selectAll: false,
            keepOpen: false,
            isOpen: false,
        });
    </script>

    <partial name="_ValidationScriptsPartial" />
}