@model appmvclibrary.Models.Category

@{
    ViewData["Title"] = "Xác nhận xoá";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1 class="my-3">@ViewData["Title"]</h1>

<h3>Bạn có chắc chắn xoá?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Xoá" class="btn btn-danger" /> |
        <a asp-action="Index">Danh sách các danh mục sách</a>
    </form>
</div>
